bu proje bir next projesi
bu projede bir tahta evler satan bir firma için bir web sitesi yapılacak
burada app direktory kullanilacak
tailwind css kullanilacak
rusca ve azeri dillerde yapilacak
tam responsiv ve performansli bir site yapilacak
firma adi Caspian Baltic
