@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Slider için gerekli stiller */
.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.slick-slide>div {
  height: 100%;
}

.slick-dots {
  bottom: 25px;
  z-index: 50;
}

.slick-dots li button:before {
  color: white !important;
  font-size: 12px !important;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white !important;
}